@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Space+Grotesk:wght@300;400;500;600;700&family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}


nav {
    background: #f0f0f8;
    width: 100%;
    z-index: 99;
    height: 70px;
    line-height: 70px;
    padding: 10px;
}

nav .wrapper {
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* margin: 0 2.5rem; */
}

.wrapper .nav-links {
    display: inline-flex;
    gap: 1.2rem;
}

.fa-chevron-down {
    font-size: 10px;
    color: #605db9;
}

/* .wrapper .logo img {
} */

.nav-links li {
    list-style-type: none;
}

.nav-links li a {
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 9px 8px;
    border-radius: 5px;

}

/* .nav-links li a::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #605db9;
    display: block;
    transition: .2s ease-in-out;
    margin-bottom: -10px;

}

.nav-links li a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #605db9;
    display: block;
} */


.nav-links li a:hover {
    color: #605db9;
}

.nav-links .drop-menu {
    background: #242526;
    width: 90%;
    height: 100vh;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 45px;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 5px solid red; */
    overflow-y: scroll;
    padding: 20px;
    z-index: 9999;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box,
.nav-links li:hover .projects,
.nav-links li:hover .documentation,
.nav-links li:hover .Blog-menu {
    opacity: 1;
    visibility: visible;
    top: 70px;
    transition: all .3s ease;
}

.nav-links .drop-menu li a {
    color: white;
    width: 100%;
    display: block;

}

.mega-box {
    border-radius: 5px;
    position: absolute;
    top: 80px;
    background-color: #242526;
    width: 200px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: white;
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content .row {
    width: 100%;
    line-height: 45px;
}



.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}



.row .mega-links li a {
    padding: 0 20px;
    color: #242526;
    font-size: 17px;
    display: block;
    line-height: 40px;
}

.mega-links li a:hover {
    color: #605db9;
}

.fa-angle-right {
    font-size: 13px;
    color: #605db9;
    font-weight: bold;
}

.content__main-box {
    margin: 10px 0;
    overflow: hidden;
}

#arrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.mega-links li:hover .service-menu,
.mega-links li:hover .About-menu,
.mega-links li:hover .Shop-menu,
.mega-links li:hover .Contact-menu,
.mega-links li:hover .Career-menu,
.mega-links li:hover .Utility-menu,
.Blog-menu li:hover .Blog-post {

    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
}

.mega-links li:hover .service-menu {
    top: 10px;
}

.mega-links li:hover .About-menu {
    top: 50px;
}

.mega-links li:hover .Shop-menu {
    top: 90px;
}

.mega-links li:hover .Contact-menu {
    top: 130px;
}

.mega-links li:hover .Career-menu {
    top: 170px;
}

.mega-links li:hover .Utility-menu {
    top: 210px;
}

.Blog-menu li:hover .Blog-post {
    top: 140px;
}



.service-menu {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: white;
    top: 40px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.About-menu {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: white;
    top: 80px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.Shop-menu {
    position: absolute;
    height: 220px;
    width: 100%;
    background-color: white;
    top: 120px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.Contact-menu {
    position: absolute;
    height: 160px;
    width: 100%;
    background-color: white;
    top: 160px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.Career-menu {
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: white;
    top: 200px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.Utility-menu {
    position: absolute;
    height: 280px;
    width: 100%;
    background-color: white;
    top: 240px;
    left: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.Project__main {
    position: relative;
}

.projects {
    position: absolute;
    height: 230px;
    width: 380px;
    background-color: white;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 37px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    /* border: 2px solid red; */
    padding: 23px;
}

.projects__pages {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

.Single__project {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    padding-left: 10px;
    border-left: 1px solid rgb(228, 228, 228);
}

.Single__project ul li a {
    font-size: 16px;
}

.projects__pages ul li a {
    font-size: 16px;
}

.Single__project .change-color {
    color: #605db9;
    text-transform: uppercase;
    letter-spacing: .02rem;
}

.projects__pages .change-color {
    color: #605db9;
    text-transform: uppercase;
    letter-spacing: .02rem;
}

.Blog-menu {
    position: absolute;
    height: 188px;
    width: 220px;
    background-color: white;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    line-height: 35px;
    opacity: 0;
    visibility: hidden;
}

.Blog-post {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: white;
    top: 160px;
    left: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.documentation {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    /* border: 2px solid rgb(234, 0, 255); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 68vh;
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.left {
    height: 100%;
    width: 35%;
    background-color: #ffffff;
    float: left;
    border-right: 1px solid rgba(215, 215, 215, 0.801);
    border-radius: 10px 0 0 10px;
}

.right {
    height: 100%;
    width: 65%;
    background-color: #ffffff;
    float: left;
    border-radius: 10px;

}

.left__contant__box {
    /* border: 2px solid red; */
    height: 100%;
    border-radius: 20px;

}

.top__left {
    height: 35%;
    line-height: 35px;
    /* border: 3px solid black; */
    overflow: hidden;
    padding: 20px 30px;
    text-align: start;

}

.bottom__left {
    height: 65%;
    /* border: 3px solid black; */
    line-height: 35px;
    padding: 20px 30px;
    margin-top: 20px;
}

.right__contant__box {
    line-height: 35px;
    padding: 20px 30px;
    margin-top: 20px;
}

.make__column {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.right__make__column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.make__column li a {
    font-size: 16px;
    /* border: 2px solid red; */
    /* text-align: center; */
}

.right__make__column li a {

    font-size: 16px;
}

.heading {
    font-size: 14px;
    color: #605db9;
    font-weight: 600;
    padding-left: 10px;
}

.service-menu li a {
    color: white;
}

.nav__btn {
    margin-left: 30px;
    font-size: 17px;
    padding: 15px 20px;
    background-color: #605db9;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
    transition: all .1s ease-in;
}

.nav__btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 1.05;
}

.container__section {
    height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 248);
}

.div {
    display: flex;
}

.container__section-left {
    padding: 8.5vw 7vw;
    height: 100%;
    width: 50%;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

.container__section-heading {
    font-size: 3rem;
    color: #434648;
    line-height: 1.15;
    font-weight: 600;
    margin-bottom: 1.7rem;

}

.container__section-heading span {
    color: #605db9;
}

.container__section-para {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: #60697b;
    padding-right: 20px;
    width: 90%;
}



.container__section-right {
    height: 100%;
    width: 50%;
    z-index: 99;
    /* border: 2px solid red; */

}

.container__section-right img {
    width: 630px;
    padding: 60px 60px;

}


@media (max-width:1300px) {
    .container__section-right img {
        width: 530px;

    }

    .container__section-right {
        padding: 20px;
    }

    .container__section-para {
        width: 100%;
        font-size: 1.42rem;
        padding-right: 0;
        /* border: 2px solid red; */
    }

    .container__section-left {
        padding: 7vw 7vw;

    }
}

@media (max-width:1155px) {
    .container__section-heading {
        font-size: 2.8rem;
    }

    .container__section-left {
        padding-right: 6vh;
    }

    .container__section-right img {
        width: 100%;
        padding: 0px 0px;
    }

}

@media (max-width: 1000px) {
    .div {
        flex-direction: column;
    }

    .container__section-left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -50px;

    }

    .container__section-left {
        padding: 7vw 3vw;
        margin-bottom: 20px;

    }

    .container__section-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .div2 {
        text-align: center;
        height: 100%;
        width: 500px;
    }

    .container__section-right img {
        width: 500px;
        padding: 60px 60px;

    }

}


.btn {
    padding: 18px 23px;
    font-size: 1.1rem;
    border-radius: .4rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all .1s ease-in;
}

.btn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 1.05;
}

.try {
    color: white;
    background-color: #605db9;
}

.explore {
    background-color: rgb(240, 240, 248);
    color: #605db9;
    border: 2px solid #605db9;
    margin: 10px;
}

.explore:hover {
    color: white;
    background-color: #605db9;
    ;
}

.cloud {
    height: 100px;
    width: 100%;
    /* border: 2px solid red; */
    overflow: hidden;
    /* background-color: #c5c5eb; */
    position: absolute;
    bottom: 0px;
}

.cloud__img img {
    height: 100%;
    width: 100%;

}

.section {
    width: 100%;
    height: 100%;
    padding: 0 1%;
    text-align: center;

}

.section h4 {
    color: #605db9;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10%;
    /* margin-bottom: 60px; */
    font-weight: 600;
    position: relative;
}

.section__para {
    color: #343f52;
    margin: auto;
    width: 1000px;
    padding: 100px;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;
    font-weight: 600;
    position: relative;
    /* border: 2px solid red; */
}

.ourwork {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 10px;
    /* align-self: center;
    align-items: center;
    text-align: center; */
    /* border: 2px solid red; */
    width: 100%;
    justify-content: center;
}

.work__sections {

    height: 300px;
    /* width: 300;  */
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    font-size: 15px;
    /* border: 2px solid red; */
}

.work__sections i {
    padding-bottom: 20px;
    font-size: 40px;
    margin-bottom: 10px;
    color: #605db9;

}

.work__sections h2 {
    /* margin-bottom: 8px; */
    font-size: 18px;
    font-weight: 700;
    color: #343f52;
}

.work__sections p {
    font-size: 1rem;
    line-height: 1.8;
    color: #60697b;
}

.work__sections a {
    /* border: 2px solid red; */
    display: block;
    text-decoration: none;
    color: #605db9;
    transition: all .1s ease-in;
    position: relative;
}

.work__sections a:hover {
    scale: 1.05;
}

.work__sections a i {

    font-size: 18px;
}

.work__sections a:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 2px;
    width: 0%;
    background-color: #605db9;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;
}

.work__sections a:hover:after {
    width: 45%;
}



.choose__section {
    /* height: 100%; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* align-items: center; */
    padding: 5%;
    /* border: 2px solid red; */
    gap: 2rem;
}

.left__section {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

.right__section {
    /* margin-left: 60px;     */
    height: 100%;
    width: 100%;
    padding: 50px 70px;
    /* border: 2px solid rgb(64, 255, 0); */


}

.right__section h3 {
    color: #605db9;
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
    /* border: 2px solid red; */
}

.right__section p {
    width: 100%;
    font-size: 2.4rem;
    line-height: 1.5;
    color: #343f52;
    font-weight: 600;
}

.left__section {
    height: 100%;
    width: 100%;
    /* border: 2px solid rgb(64, 255, 0); */
}

.left__section img {
    width: 600px;
    /* height: 100%; */
}

.features_sections {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-top: 40px;
}

.box {
    /* margin-top: 20px; */
    display: flex;
    height: 150px;
    width: 250px;
    /* border: 2px solid red; */
}

.box i {
    font-size: 20px;
    color: #605db9;
    padding-right: 10px;
}

.box h2 {
    font-size: 1.2rem;
    color: #343f52;
}

.box p {
    font-size: 1rem;
    color: #60697b;
    /* border: 2px solid orange; */

}

.nav__menu__bar i {
    display: none;
    color: #242526;
    font-weight: 600;
    font-size: 25px;
}


@media (max-width:1400px) {
    .ourwork {
        grid-template-columns: repeat(4, 250px);
        align-items: center;
    }

    .work__sections {
        padding: 20px;

    }

    .left__section img {
        padding-top: 80px;
        width: 550px;
    }


}

@media (max-width:1200px) {
    .box p {
        padding-top: 10px;
        width: 90%;
        /* border: 2px solid orange; */
        line-height: 1.7;

    }

    .box {
        width: 180px;
    }

    .left__section img {
        width: 480px;
    }

    .right__section {
        padding: 10px;

    }



    .choose__section {
        padding: 2%;

    }


}

@media (max-width:1000px) {
    .choose__section {
        grid-template-columns: repeat(1, 100%);
        text-align: center;

    }

    .left__section img {
        width: 700px;
    }

    .right__section {
        width: 80%;
        margin: auto;
    }

    .right__section h3 {
        text-align: start;
    }

    .right__section .right__section__para {
        text-align: start;
        font-size: 2.2rem;

    }

    .data {
        text-align: start;

    }

    .box {
        height: 130px;
        width: 350px;
    }

}

@media (max-width:770px) {
    .features_sections {
        grid-template-columns: auto;
        width: 100%;
        place-items: start;

    }

    .box {
        height: 100px;
        width: 420px;
        text-align: start;
        padding: 20px;
    }

    .box p {
        width: 100%;
    }

    .right__section {
        /* text-align: start; */
        place-items: start;

        /* padding: 50px 70px; */

    }

    .right__section {
        padding: 20px;

    }

    .box i {
        font-size: 2rem;
    }

    .box p {
        font-size: 1.1rem;
    }

    .box h2 {
        font-size: 1.3rem;
    }



}

@media (max-width:768px) {
    .left__section img {
        width: 500px;
    }
}

@media (max-width:550px) {
    .left__section img {
        width: 80%;
    }

    .right__section {
        padding: 10px;
        width: 100%;
    }

    .box {
        width: 100%;
        height: 100%;
    }

    .box p {
        font-size: 1rem;
    }

    .box h2 {
        font-size: 1.2rem;
    }

}









@media (max-width:1024px) {
    .ourwork {
        grid-template-columns: repeat(2, 350px);
    }

    .section__para {
        width: 800px;
        /* padding: 100px; */
        margin-bottom: 0px;

    }

}

@media (max-width:800px) {
    .ourwork {
        grid-template-columns: repeat(1, 450px);
    }

    .section__para {
        width: 600px;
        padding: 0px;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .container__section-heading {
        font-size: 2.6rem;

    }
}

@media (max-width:600px) {
    .ourwork {
        grid-template-columns: repeat(1, 350px);
    }

    .section__para {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;

    }

    .container__section-right img {
        width: 90%;
        padding: 0px 0px;
    }

    .container__section-heading {
        font-size: 2.4rem;

    }
}

@media (max-width:500px) {
    .ourwork {
        grid-template-columns: repeat(1, 300px);
        /* padding: 20px; */
    }

    .section__para {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        height: 100%;
    }

    .work__sections {

        padding: 0px;

    }

    .box {
        height: 80%;
        width: 90%;
    }
}



@media (max-width:1000px) {
    .nav-links li {
        display: none;
    }

    .nav__menu__bar i {
        display: inline;
        padding-left: 20px;
    }
}

@media (max-width:768px) {
    .nav__menu__bar button {
        display: none;
    }
}




/* @media (max-width:1000px) {
    nav .wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #afdbd8;
        width: 400px;
        height: 100%;
        z-index: 999999;
 
    }
    .nav__btn{
        display: none;
    }
    .nav__menu__bar i{
        color: red;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .nav-links li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

} */